@using E_TradeAppUI.Models
@model Cart


@*<button type="button" class="btn btn-secondary"><i class="fa-solid fa-cart-shopping"></i> @Model.CartLines.Count()</button>*@
<a class="btn btn-secondary" href="/Cart/Index" role="button"><i class="fa-solid fa-cart-shopping"></i> @Model.CartLines.Count()</a>
